<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 연결하려는 파일이 있는 경로 -->
<mapper namespace="com.aws.spring_study.repository.UserMappers">

    <!--  id의 이름과 mappers의 method명이 같아야함 / mapper interface를 xml에서 구현함 -->
    <insert id="saveUser" parameterType="com.aws.spring_study.dto.RegisterUserReqDto">
        insert into user_tb
        values(0, #{username}, #{name}, #{phone})
    </insert>

    <select id="getUserListAll" resultType="com.aws.spring_study.entity.User">
        select
            user_id as userId,
            username,
            name,
            phone
        from
            user_tb
    </select>

    <update id="modifyUser" parameterType="com.aws.spring_study.dto.ModifyUserReqDto">
        update
            user_tb
        set
            name = #{name},
            phone = #{phone}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from
            user_tb
        where
            user_id = #{userId}
    </delete>

</mapper>